#container {
    border: 1px solid grey;
    border-radius: 40px;
    width: 50%;
    position: absolute;
    top: 13%;
    left: 25%;
    padding: 5%;
}

h1 {
    text-align: center;
}

#email p {
    margin-top: 3%;
}

#email p, #password p {
    font-weight: 700;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 1%;
}

#email input, #password input {
    margin-bottom: 5%;
}

#button-boxes {
    margin-top: 10%;
}

#login, #signup {
    width: 30%;
    margin-left: 13%;
}